<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header"></div>

                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data:function(){
            return {
                name:"abid"
            }
        },
        props:['user_id','department_id','user_type'],

        created(){
             Echo.private('testChannel.'+this.user_id)
               .listen('TaskEvent',(e) =>{
                    console.log(e);
                });
                Echo.private('user.'+this.department_id)
               .listen('MessageNotification',(e) =>{
                    console.log(e);
                    alert(e.message.message);
                });
                 Echo.private('userType.'+this.user_type)
               .listen('MessageNotification',(e) =>{
                    console.log(e.message.message);
                    alert(e.message.message);
                });
        },

    }
</script>
